In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Student_Marks.csv')

In [3]:
print("Initial Datas: ")
print(df.head())

Initial Datas:
   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [4]:
top_math=df.loc[df['number_courses'].idxmax()]
print("Top Scores:")
print(top_math)

Top Scores:
number_courses     8.000
time_study         7.811
Marks             55.299
Name: 4, dtype: float64

In [5]:
df['Average']=df[['number_courses','time_study','Marks']].mean(axis=1)
print(df)

    number_courses  time_study   Marks    Average
0                3       4.508  19.202   8.903333
1                4       0.096   7.734   3.943333
2                4       3.133  13.811   6.981333
3                6       7.909  53.018  22.309000
4                8       7.811  55.299  23.703333
..             ...         ...     ...        ...
95               6       3.561  19.128   9.563000
96               3       0.301   5.609   2.970000
97               4       7.163  41.444  17.535667
98               7       0.309  12.027   6.445333
99               3       6.335  32.357  13.897333

[100 rows x 4 columns]

In [6]:
df['Total']=df[['number_courses','time_study','Marks']].sum(axis=1)
print(df)

    number_courses  time_study   Marks    Average   Total
0                3       4.508  19.202   8.903333  26.710
1                4       0.096   7.734   3.943333  11.830
2                4       3.133  13.811   6.981333  20.944
3                6       7.909  53.018  22.309000  66.927
4                8       7.811  55.299  23.703333  71.110
..             ...         ...     ...        ...     ...
95               6       3.561  19.128   9.563000  28.689
96               3       0.301   5.609   2.970000   8.910
97               4       7.163  41.444  17.535667  52.607
98               7       0.309  12.027   6.445333  19.336
99               3       6.335  32.357  13.897333  41.692

[100 rows x 5 columns]

In [7]:
df.to_csv('students_updated.csv',index=False)
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
    number_courses  time_study   Marks    Average   Total
0                3       4.508  19.202   8.903333  26.710
1                4       0.096   7.734   3.943333  11.830
2                4       3.133  13.811   6.981333  20.944
3                6       7.909  53.018  22.309000  66.927
4                8       7.811  55.299  23.703333  71.110
..             ...         ...     ...        ...     ...
95               6       3.561  19.128   9.563000  28.689
96               3       0.301   5.609   2.970000   8.910
97               4       7.163  41.444  17.535667  52.607
98               7       0.309  12.027   6.445333  19.336
99               3       6.335  32.357  13.897333  41.692

[100 rows x 5 columns]

In [8]:
df=pd.read_csv('students_updated.csv')
print(df)

    number_courses  time_study   Marks    Average   Total
0                3       4.508  19.202   8.903333  26.710
1                4       0.096   7.734   3.943333  11.830
2                4       3.133  13.811   6.981333  20.944
3                6       7.909  53.018  22.309000  66.927
4                8       7.811  55.299  23.703333  71.110
..             ...         ...     ...        ...     ...
95               6       3.561  19.128   9.563000  28.689
96               3       0.301   5.609   2.970000   8.910
97               4       7.163  41.444  17.535667  52.607
98               7       0.309  12.027   6.445333  19.336
99               3       6.335  32.357  13.897333  41.692

[100 rows x 5 columns]

In [9]:
print(df.tail(7))
print("\nDataFrame after reading from CSV:")

    number_courses  time_study   Marks    Average   Total
93               8       6.471  42.426  18.965667  56.897
94               8       3.919  24.451  12.123333  36.370
95               6       3.561  19.128   9.563000  28.689
96               3       0.301   5.609   2.970000   8.910
97               4       7.163  41.444  17.535667  52.607
98               7       0.309  12.027   6.445333  19.336
99               3       6.335  32.357  13.897333  41.692

DataFrame after reading from CSV:

In [10]:
group_a=df[df['number_courses']>=8]
group_b=df[df['number_courses']<8]
print('Group A:')
print(group_a)

Group A:
    number_courses  time_study   Marks    Average   Total
4                8       7.811  55.299  23.703333  71.110
17               8       6.080  38.490  17.523333  52.570
19               8       3.977  25.133  12.370000  37.110
27               8       4.378  26.532  12.970000  38.910
30               8       3.864  24.172  12.012000  36.036
32               8       0.932  15.038   7.990000  23.970
54               8       7.591  53.158  22.916333  68.749
56               8       7.641  53.359  23.000000  69.000
59               8       7.468  51.343  22.270333  66.811
77               8       5.985  38.278  17.421000  52.263
81               8       2.262  17.705   9.322333  27.967
84               8       1.982  16.461   8.814333  26.443
85               8       6.201  39.957  18.052667  54.158
91               8       2.730  19.564  10.098000  30.294
93               8       6.471  42.426  18.965667  56.897
94               8       3.919  24.451  12.123333  36.370

In [11]:
print('Group B:')
print(group_b)

Group B:
    number_courses  time_study   Marks    Average   Total
0                3       4.508  19.202   8.903333  26.710
1                4       0.096   7.734   3.943333  11.830
2                4       3.133  13.811   6.981333  20.944
3                6       7.909  53.018  22.309000  66.927
5                6       3.211  17.822   9.011000  27.033
..             ...         ...     ...        ...     ...
95               6       3.561  19.128   9.563000  28.689
96               3       0.301   5.609   2.970000   8.910
97               4       7.163  41.444  17.535667  52.607
98               7       0.309  12.027   6.445333  19.336
99               3       6.335  32.357  13.897333  41.692

[84 rows x 5 columns]

In [12]:
group_a.to_csv('group_a.csv',index=False)
group_b.to_csv('group_b.csv',index=False)
print('Group A:')
print(group_a)
print('Group B:')
print(group_b)

Group A:
    number_courses  time_study   Marks    Average   Total
4                8       7.811  55.299  23.703333  71.110
17               8       6.080  38.490  17.523333  52.570
19               8       3.977  25.133  12.370000  37.110
27               8       4.378  26.532  12.970000  38.910
30               8       3.864  24.172  12.012000  36.036
32               8       0.932  15.038   7.990000  23.970
54               8       7.591  53.158  22.916333  68.749
56               8       7.641  53.359  23.000000  69.000
59               8       7.468  51.343  22.270333  66.811
77               8       5.985  38.278  17.421000  52.263
81               8       2.262  17.705   9.322333  27.967
84               8       1.982  16.461   8.814333  26.443
85               8       6.201  39.957  18.052667  54.158
91               8       2.730  19.564  10.098000  30.294
93               8       6.471  42.426  18.965667  56.897
94               8       3.919  24.451  12.123333  36.370
Group B:
    number_courses  time_study   Marks    Average   Total
0                3       4.508  19.202   8.903333  26.710
1                4       0.096   7.734   3.943333  11.830
2                4       3.133  13.811   6.981333  20.944
3                6       7.909  53.018  22.309000  66.927
5                6       3.211  17.822   9.011000  27.033
..             ...         ...     ...        ...     ...
95               6       3.561  19.128   9.563000  28.689
96               3       0.301   5.609   2.970000   8.910
97               4       7.163  41.444  17.535667  52.607
98               7       0.309  12.027   6.445333  19.336
99               3       6.335  32.357  13.897333  41.692

[84 rows x 5 columns]

In [13]:
group_a_loaded=pd.read_csv('group_a.csv')
group_b_loaded=pd.read_csv('group_b.csv')

In [14]:
merged_df=pd.concat([group_a_loaded,group_b_loaded],ignore_index=True)

In [15]:
print(merged_df)

    number_courses  time_study   Marks    Average   Total
0                8       7.811  55.299  23.703333  71.110
1                8       6.080  38.490  17.523333  52.570
2                8       3.977  25.133  12.370000  37.110
3                8       4.378  26.532  12.970000  38.910
4                8       3.864  24.172  12.012000  36.036
..             ...         ...     ...        ...     ...
95               6       3.561  19.128   9.563000  28.689
96               3       0.301   5.609   2.970000   8.910
97               4       7.163  41.444  17.535667  52.607
98               7       0.309  12.027   6.445333  19.336
99               3       6.335  32.357  13.897333  41.692

[100 rows x 5 columns]

In [16]:
merged_df.to_csv('merged_students.csv',index=False)
print("\nMerged DataFrames:")
print(merged_df)

Merged DataFrames:
    number_courses  time_study   Marks    Average   Total
0                8       7.811  55.299  23.703333  71.110
1                8       6.080  38.490  17.523333  52.570
2                8       3.977  25.133  12.370000  37.110
3                8       4.378  26.532  12.970000  38.910
4                8       3.864  24.172  12.012000  36.036
..             ...         ...     ...        ...     ...
95               6       3.561  19.128   9.563000  28.689
96               3       0.301   5.609   2.970000   8.910
97               4       7.163  41.444  17.535667  52.607
98               7       0.309  12.027   6.445333  19.336
99               3       6.335  32.357  13.897333  41.692

[100 rows x 5 columns]